<%- contentFor('title') %>
Home

<%- contentFor('pageTitle') %>
Home

<%- contentFor('body') %>
<h1 class="text-center">
    <strong>Welcome Administrator</strong>
</h1>
<%- contentFor('script') %>
<script>
    
</script>