<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyek MVC</title>
</head>
<body>
    <h1>Daftar Biodata</h1>
    <ul>
        <% data.forEach(biodata => { %>
            <li><%= biodata.nama %> - <%= biodata.title %></li>
        <% }); %>
    </ul>
</body>
</html>
